.hidden {
    visibility: hidden;
}

.board {
    width: 122px;
    height: 122px;
}

.available:hover {
    cursor: pointer;
    background-color: #c8dbf6;
}

.selected:hover {
    cursor: not-allowed;
}

.markerO, .markerX {
    background-position: center;
}

.markerX {
    background-image: url('images/markerX.svg');
    background-repeat: no-repeat;
}

.markerO {
    background-image: url('images/markerO.svg');
    background-repeat: no-repeat;
}

#gameboard {
    width: 372px;
    height: 366px;
    display: flex;
    flex-flow: wrap;
}

#gameboard div {
    box-sizing: border-box;
    border: thin solid #c8dbf6;
}